<div class="container">
    <div class="row no-gutter">
        <div class="col-xs-4 col-xs-offset-0">
            <div class="col-xs-12">


            <table border="1" style="width:100%">
    
<tr>
<TD width="300" height="120"></TD>
</tr>
<tr>
<TD width="300" height="120"></TD>
<tr>
</table></div>
         
        </div>
        <div class="col-xs-5 col-xs-offset-1">
            <div class="col-xs-12"><div class="row" style="width:500px">

            <table border="1" style="width:100%">
            
<tr>
<TD width="300" height="120"></TD>
</tr>
<tr>
<TD width="300" height="120"></TD>
<tr>
</table></div>

            
  <%= render partial: 'bookings/horizontal_form_sf', layout: 'bookings/sf_label', locals: { title: 'Booking Form' } %>
</div></div>
   
        </div>
   
    </div>
</div><!-- /.container -->