<div class="col-xs-12 col-sm-offset-0 form-group" > 
  <div class="panel panel-primary" >
    <div class="panel-heading" >Description: <%= title %></div>
    <div class="panel-body">
      <%= yield %>
    </div>
  </div>
</div>


